/* GLOBAL CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url(../img/background-img-2.png);
    background-repeat: no-repeat;
    background-position: center  ;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
}

/* ESCIFIC CSS */


header.container .title{
    padding-top: 3rem;
    font-weight: 400; 
    font-size: 4rem;
    color: #fff;
}

header.container .sub-title{
    padding-bottom: 3.5rem;
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
}

main.container section.categorias {
    width: 55rem;
    height: 35rem;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 3rem;
    border-radius: 10px;
}

div.itens {
    flex-basis: 33.33%;
    max-height: 12.4rem;
    max-width: 12rem;
    text-align: center;
}

section.categorias .itens a {
    font-size: 5rem;
    color: #fff;
}

section.categorias .itens h2 {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
}

div.content {
    text-align: center;
    padding-top: 3.2rem;
}

div.content .social-media a{
    display: inline-block;
    transition: ease 200ms;
}

div.content .social-media .icon i {
    font-size: 2.4rem;
    color: #fff;
    margin: 1.5rem;
    transition: 200ms ease;
}

div.content .social-media a:hover{
    transform: scale(1.2);
}


footer.rodape h3 {
    font-size: 1.1rem;
    padding-top: 3.2rem;
    color: #ccc;
    font-weight: 300;
}






